main {
  display: grid;
  grid-template-areas:
    "title searchbar"
    "navbar outlets";
  grid-template-columns: 1fr 4fr;
  width: 100vw;
  height: 100vh;
}
span {
  color: #0003d0;
}
.title {
  grid-area: title;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
  background-color: #d9d9d9be;
  padding-left: 25px;
  border-bottom: 3px solid #aeaeaea6;
}
.navbar {
  grid-area: navbar;
  background-color: #d9d9d9be;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  color: #000;
}
.searchbar {
  border-bottom: 3px solid #aeaeaea6;
  grid-area: searchbar;
  height: 80px;
  display: flex;
  justify-content: baseline;
  align-items: center;
}
.nav{
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: large;
    padding: 5px 10px;
    border-radius: 12px;
    margin: 10px 10px 10px 15px;
}
.nav:hover{
    border: 1px solid black;
    background-color: #A7A7A7;
    color: white;
}
.outlets {
  grid-area: outlets;
  height: calc(100vh - 83px);
  grid-area: outlets;
  padding: 15px 25px; 
  box-sizing: border-box;
}